extends base

block head
    title Dashboard | Better GitHub Teams

block body
    if bgt_file == null
        .row
            .col-md-6.col-md-offset-3
                .panel.panel-default
                    .panel-body
                        .text-center
                            a(href='/create_bgt_file').btn.btn-default Create Better GitHub Teams File
    else
        // Organization list
        .row
            .col-md-6.col-md-offset-3
                .panel.panel-default
                    .panel-heading Organizations
                    .panel-body
                        each org in orgs
                            .media
                                a.media-left(href='#')
                                    img(src=org.avatar_url, width='60px')
                                .media-body
                                    h4.media-heading: a(href=org.html_url, target='_blank')=org.name
                                    a(href='/org/'+org.login)
                                        button(type='button').btn.btn-default Edit With BGT
        // Operations
        .row
            .col-md-6.col-md-offset-3
                .panel.panel-default
                    .panel-body
                        .text-center
                            a(href='/delete_bgt_file')
                                button(type='button').btn.btn-default.btn-danger Delete BGT File


