extends base

block head
  title Dashboard | Better GitHub Teams

block body
  .row
    .text-center
      h1 Dashboard
  if bgt_json == null
    .row
      .col-md-6.col-md-offset-3
        a(href='/create_bgt_file').btn.btn-default.btn-block Create BGT File
  else
    // Organization list
    .row
      .col-md-6.col-md-offset-3
        .panel.panel-default
          .panel-heading Organizations
          .panel-body
            each org in orgs
              .media
                a.media-left(href=org.avatar_url, target='_blank')
                  img(src=org.avatar_url, width='60px')
                .media-body
                  h4.media-heading: a(href=org.html_url, target='_blank')=org.name
                  a(href='/dashboard/org/'+org.login)
                    button(type='button').btn.btn-default Edit With BGT
    // Operations
    .row
      .col-md-6.col-md-offset-3
        a(href='/delete_bgt_file').btn.btn-danger.btn-block Delete BGT File


