doctype html
html(lang='en')
   head
      title Me | BGT
   body
      include navbar
      p
         | !{user.name}
         br
         a(href=user.avatar_url, target='_blank'): img(src=user.avatar_url, width='128px')

      p=JSON.stringify(detailed_orgs)
